In [109]:
import pandas as pd

In [110]:
data_siege  = pd.read_excel('./imp (1).xlsx')
data_user = pd.read_excel('./Users 2023.xlsx')

In [111]:
data_siege['user_name'] = data_siege['user_name'].str.lower()
data_user['user_name'] = data_user['user_name'].str.lower()

In [112]:
data_siege['date_ts'] = pd.to_datetime(data_siege['DATE'])

In [113]:
data_siege.head()

,user_name,User - login,B/W pages,Color pages,DATE,date_ts
0,outmane nourman,onourman,0,0,2021-04-01 00:00:00.000,2021-04-01
1,khadija bahammou,u369bahammok,198,136,2021-04-01 00:00:00.000,2021-04-01
2,issam tssouli,itssouli,397,0,2021-04-01 00:00:00.000,2021-04-01
3,ghizlane ouakrim,gouakrim,115,264,2021-04-01 00:00:00.000,2021-04-01
4,mounir nessassi,mnessass,179,168,2021-04-01 00:00:00.000,2021-04-01

## Extract year et ville

In [118]:
data_siege['year'] = data_siege.apply(lambda row: row['DATE'][0:4], axis=1)
data_user['ville']= data_user['Site'].str.lower().str.split('/').str[1].str.lstrip()

In [119]:
data_siege.tail()

,user_name,User - login,B/W pages,Color pages,DATE,date_ts,year
6794,asmaa lamrabet,alamrabe,0,0,2023-04-01 00:00:00.000,2023-04-01,2023
6795,mouad moubtakir,mmoubta,0,0,2023-04-01 00:00:00.000,2023-04-01,2023
6796,nador scale1,nscale1,0,0,2023-04-01 00:00:00.000,2023-04-01,2023
6797,brahim belaouni,bbelaoun,1,0,2023-04-01 00:00:00.000,2023-04-01,2023
6798,sdc nador,snador,1,0,2023-04-01 00:00:00.000,2023-04-01,2023

In [120]:
data_user.head()

,user_name,Departement,Site,ville
0,lamya chaqri,Juridique,"MAR/Casablanca/621, boulevard Panoramique, 20150",casablanca
1,youssef nejd,DT - Administration,"MAR/Marrakech/Marrakech, Tensift, El Haouz, KM...",marrakech
2,mohammed qanoune,DT - Production,"MAR/Safi/Route Had Hrara, B.P. 29",safi
3,soufiane ait lahcene,DAF - Informatique,"MAR/Casablanca/621, boulevard Panoramique, 20150",casablanca
4,indusaha scale 1,DT - Production,MAR/ Laayoune/Route Du Port Laayoune,laayoune

In [121]:
merged_data.head()

,user_name,User - login,B/W pages,Color pages,DATE,date_ts,year,Departement,Site,ville
0,outmane nourman,onourman,0,0,2021-04-01 00:00:00.000,2021-04-01,2021,DT - Administration,"MAR/Marrakech/Marrakech, Tensift, El Haouz, KM...",marrakech
1,outmane nourman,onourman,190,2,2021-05-01 00:00:00.000,2021-05-01,2021,DT - Administration,"MAR/Marrakech/Marrakech, Tensift, El Haouz, KM...",marrakech
2,outmane nourman,onourman,0,10,2021-06-01 00:00:00.000,2021-06-01,2021,DT - Administration,"MAR/Marrakech/Marrakech, Tensift, El Haouz, KM...",marrakech
3,outmane nourman,onourman,23,0,2021-07-01 00:00:00.000,2021-07-01,2021,DT - Administration,"MAR/Marrakech/Marrakech, Tensift, El Haouz, KM...",marrakech
4,outmane nourman,onourman,0,2,2021-08-01 00:00:00.000,2021-08-01,2021,DT - Administration,"MAR/Marrakech/Marrakech, Tensift, El Haouz, KM...",marrakech

In [122]:
def affichage(data):
    print("Ce affichage concerne le data SafeQ")
    print("Blanc et noir:",data['B/W pages'].sum())
    print("couleur:",data['Color pages'].sum())
    print("la somme:",data['B/W pages'].sum() + data['Color pages'].sum())

## Siege et 2022

In [125]:
merged_data = pd.merge(data_siege, data_user, on='user_name', how='inner')
print(merged_data.count())
merged_data = merged_data[(merged_data['Site'] == 'MAR/Casablanca/621, boulevard Panoramique, 20150') & (merged_data['year'] == '2022') ]
print(merged_data['B/W pages'].sum())
print(merged_data['Color pages'].sum())
print(merged_data['B/W pages'].sum() + merged_data['Color pages'].sum())

user_name       6799
User - login    6799
B/W pages       6799
Color pages     6799
DATE            6799
date_ts         6799
year            6799
Departement     6799
Site            6799
ville           6794
dtype: int64
117317
109288
226605

In [126]:
merged_data = pd.merge(data_siege, data_user, on='user_name', how='inner')
merged_data = merged_data[ (merged_data['year'] == '2022')]
affichage(merged_data)

Ce affichage concerne le data SafeQ
Blanc et noir: 388417
couleur: 221218
la somme: 609635

In [127]:
print(data_user['ville'].unique())

['casablanca' 'marrakech' 'safi' 'laayoune' 'nador' 'jorf' 'rabat'
 'jorf lasfar' 'ait baha' 'agadir' 'agadir tassila' 'berrechid'
 'benslimane' 'ain atiq' 'el jadida' 'oulad aabbou' 'notfound' nan
 'indusaha']

In [128]:
merged_data = pd.merge(data_siege, data_user, on='user_name', how='inner')
print(merged_data.count())

user_name       6799
User - login    6799
B/W pages       6799
Color pages     6799
DATE            6799
date_ts         6799
year            6799
Departement     6799
Site            6799
ville           6794
dtype: int64

## Trimestre data SafeQ

In [129]:
start_date = pd.to_datetime('2023-01-01') 
end_date = pd.to_datetime('2023-03-31')
trimester_data = merged_data[(merged_data['date_ts'] >= start_date) & (merged_data['date_ts'] <= end_date) & (merged_data['ville'] <= 'casablanca')]
affichage(trimester_data)

Ce affichage concerne le data SafeQ
Blanc et noir: 25275
couleur: 12262
la somme: 37537

## User verification

In [130]:
df1 = data_siege
df2 = data_user
users_in_df1_not_in_df2 = df1[~df1['user_name'].isin(df2['user_name'])]
print("Users in df1 not in df2:")
print(users_in_df1_not_in_df2['user_name'].unique())

Users in df1 not in df2:
[]

## Filtrage par date

In [131]:
first_date = pd.to_datetime('2022-12-01')

In [132]:
data_at_first_date = merged_data[(merged_data['date_ts'] == first_date)]
affichage(data_at_first_date)

Ce affichage concerne le data SafeQ
Blanc et noir: 41973
couleur: 15235
la somme: 57208

## Concatenation of data in python